body{
  margin: 0;
  padding: 0;
}
.list-container{
  display: flex;
  flex-flow: row wrap;
}
.list{
  margin-top: 20px;
  height: 100%;
  width: 20%;
  min-width: 200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-right: 30px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
}
.list__title-field{
  width: 50%;
  height: 30px;
  pointer-events: none;
}
.list__add-card-btn{
  width: 100%;
  border: none;
  background: #F3E5F5;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}
.list__add-card-textarea{
  width: 100%;
  resize: none;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #E0E0E0;
  border-top: 0;
}
.list__card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 10px;
  border-radius: 5px;
}
.card__title{
  width: 100%;
  overflow-wrap: break-word;
  background-color: #F3E5F5;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.card__icon-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
}
.popup-overlay{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.popup-overlay__popup{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 600px;
  height: 0%;
  background-color: #FAFAFA;
  z-index: 11;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.popup__title-wrapper{
  width: 90%;
  display: flex;
  margin-bottom: 30px;
}
.popup__icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #E0E0E0;
  border-radius: 50%;
  margin-right: 10px;
  align-self: flex-start;
}
.popup__icon{
  color: #9E9E9E;
  font-size: 20px;
  pointer-events: none;
}
.popup__exit-wrapper{
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 10%;
}
.exit-wrapper__exit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.exit-wrapper__exit:hover{
  background-color: #EEEEEE;
}
.popup__description-wrapper{
  display: flex;
  width: 90%;
  margin-bottom: 30px;
  height: 100px;
}
.popup__selector-wrapper{
  display: flex;
  width: 90%;
  margin-bottom: 30px;
  height: 40px;
}
.popup__selector{
  width: 50%;
  border-color: #EEEEEE;
  border-radius: 5px;
  height: 40px;
}
.popup__bottom-wrapper{
  display: flex;
  width: 90%;
  align-self: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 40px;
  box-sizing: border-box;
}

.popup__date{
  color: #9E9E9E;
}
.popup__textarea{
  resize: none;
  width: 90%;
  font-size: 20px;
  border: 1px solid #EEEEEE;
  padding: 4px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.popup__comment-textarea{
  border-radius: 5px 5px 5px 0;
}
.popup__comment-wrapper{
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin-bottom: 30px;
}
.popup__comments-container{
  list-style: none;
  width: 90%;
  margin: 20px 0 0 40px;
  padding: 0;
}
.popup__comment-btn{
  margin-left: 40px;
  border: none;
  background-color: #4527A0;
  border-radius: 0 0 5px 5px;
  padding: 10px 20px 10px 20px;
  color: #EDE7F6;
  cursor: pointer;
}
.popup__comment{
  padding: 15px;
  background-color: #F5F5F5;
  overflow-wrap: break-word;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.popup__comment:nth-child(2n+1){
  background-color: #EEEEEE;
}
